<footer class="footer">
  <p>&lt;3</p>
  <p>Heavily inspired by <a href="https://github.com/necolas/idiomatic-css">Idiomatic CSS</a> and the <a href="http://github.com/styleguide">GitHub Styleguide</a>. Forked by @lightburn, originally created by @mdo.</p>
  <p>Open sourced under MIT. Copyright {{ site.time | date: '%Y' }} <a href="https://twitter.com/lightburn">@lightburn</a>.</p>

  <ul class="quick-links">
    <li class="follow-btn">
      <a href="https://twitter.com/lightburn" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @lightburn</a>
    </li>
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://lightburn.github.com/code-guide" data-count="horizontal" data-via="lightburn">Tweet</a>
    </li>
  </ul>
</footer>
