<!-- Loading typekit async -->
<script>
    (function(d) {
    var config = {
        kitId: 'igq6ofz',
        scriptTimeout: 3000,
        async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
</script>

<!-- Google webfonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>
<!-- or async/non-render blocking -->
<script>
    var WebFontConfig = {
        google: { families: [ 'Sanchez:400' ] }
    };
    (function() {
        var wf = document.createElement('script');
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>

<!-- CSS (inline for example only) -->
<style>
    @font-face {
        font-family: 'MyWebFont';
        src: url('myfont.woff2') format('woff2'),
            url('myfont.woff') format('woff');
    }
</style>